In [19]:
print("Hello ML!")

Hello ML!

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [21]:
# Load the dataset
data = pd.read_csv("../eda_data.csv")

In [22]:
missing_values = data.isnull().sum()
print(missing_values)

Timestamp               0
Age                     0
Sex                     0
Relationship Status     0
Occupation              0
Affiliations           30
Social Media User?      0
Platforms Used          0
Time Spent              0
Q1                      0
Q2                      0
Q3                      0
Q4                      0
Q5                      0
Q6                      0
Q7                      0
Q8                      0
Target                  0
Difficulty_level        0
dtype: int64

In [23]:
data.drop("Affiliations", axis=1, inplace=True)

In [24]:
data.head()

,Timestamp,Age,Sex,Relationship Status,Occupation,Social Media User?,Platforms Used,Time Spent,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Target,Difficulty_level
0,4/18/2022 19:18:47,21,0,In a relationship,University Student,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",2,5,3,2,2,2,5,2,3,5,high
1,4/18/2022 19:19:28,21,1,Single,University Student,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",5,4,3,2,1,5,5,5,1,4,medium
2,4/18/2022 19:25:59,21,1,Single,University Student,Yes,"Facebook, Instagram, YouTube, Pinterest",3,3,2,1,1,5,4,3,3,3,medium
3,4/18/2022 19:29:43,21,1,Single,University Student,Yes,"Facebook, Instagram",5,4,2,1,2,5,4,5,1,3,medium
4,4/18/2022 19:33:31,21,1,Single,University Student,Yes,"Facebook, Instagram, YouTube",2,3,5,4,3,5,4,3,3,4,medium

In [25]:
# Split the data
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

# Save the split datasets into CSV files
train_data.to_csv("train_data.csv", index=False)
test_data.to_csv("test_data.csv", index=False)

In [26]:
# Load the training data
train_data = pd.read_csv("train_data.csv")

In [27]:
df = pd.DataFrame(train_data)

In [28]:
df.head()

,Timestamp,Age,Sex,Relationship Status,Occupation,Social Media User?,Platforms Used,Time Spent,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Target,Difficulty_level
0,4/19/2022 21:55:45,24,0,Single,Salaried Worker,Yes,"Facebook, Twitter, Instagram, YouTube",2,3,3,2,2,4,3,2,4,2,low
1,4/22/2022 2:35:48,46,0,Married,Salaried Worker,Yes,"Facebook, YouTube",0,2,1,1,1,1,1,1,2,2,low
2,5/21/2022 22:19:10,30,1,Married,Salaried Worker,Yes,"Facebook, Instagram, YouTube",4,2,4,4,2,4,4,4,2,3,medium
3,4/18/2022 21:48:07,56,1,Married,Retired,Yes,YouTube,1,1,1,1,1,3,2,1,3,2,low
4,5/12/2022 0:16:23,19,0,Single,School Student,Yes,"Facebook, Instagram, YouTube, TikTok",4,3,3,4,3,3,3,4,3,3,medium